<template id="cart-template">
    <div class="row">
        <div class="col-sm" id="name">
        </div>
        <div class="col-sm" id="quantity">
            <div class="qty mt-5">
                <span class="minus bg-dark">-</span>
                <input type="number" class="count" name="qty" value="1">
                <span class="plus bg-dark">+</span>
            </div>
        </div>
        <div class="col-sm" id="price">
        </div>
    </div>
</template>


<!--`    <table>-->
<!--    <tr>-->
<!--        <td>${item["name"]}</td>-->
<!--        <td><div class="qty">-->
<!--            <span class="minus bg-dark">-</span>-->
<!--            <input type="number" class="count" name="qty" value="${item["quantity"]}">-->
<!--            <span class="plus bg-dark">+</span>-->
<!--        </div></td>-->
<!--        <td>${item["defaultPrice"]}</td>-->
<!--    </tr>-->
<!--</table>`-->